<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      th:with="pathPrefix=${pathPrefix}"
>
<link th:href="@{/style/normalize.css}" rel="stylesheet">
<link th:href="@{/style/index.css}" rel="stylesheet">
<head>

</head>
<body>

<div class="body_wrapper">
<header>
    <nav  th:insert="fragments/menu :: menu">
    </nav>
</header>

    <main>
        <div layout:fragment="content"></div>
    </main>
<footer>
    <div class="wrapper">
        <nav>
            <div>
                <a href="#"><span class="spanF1">Alivio</span></a>
                <a href="#">Why Alivio</a>
                <a href="#">Solution</a>
                <a href="#">Community</a>
                <a th:href="@{/admin}">Update event</a>
            </div>
        </nav>
    </div>
</footer>
</div>
</body>
</html>