<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <nav>
            <div class="div1"></div>
            <div class="div2">
                <a th:href="@{/}">Why Alivio</a>
                <a href="#">Solution</a>
                <a href="#">Community</a>
                <a th:href="@{/world}">WorldPage</a>
                <a th:href="@{/welcome}">Sign in</a>
                <a href="#"><span class="button-trial">Start Trial</span></a>
            </div>
<!--            <div class="div3">-->
<!--               -->
<!--            </div>-->
        </nav>
    </div>

</div>