<div class="wrapper" th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="header_nav">
        <div class="div1"></div>
        <div class="header_div2">
            <a th:href="@{/}">Why Alivio</a>
            <a href="#">Solution</a>
            <a href="#">Community</a>
            <a th:href="@{/world}">WorldPage</a>
            <a th:if="${#request.userPrincipal == null}" th:href="@{/welcome}">Sign in</a>
            <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
            <a href="#"><span class="button-trial">Start Trial</span></a>
        </div>
        <!--            <div class="div3">-->
        <!--               -->
        <!--            </div>-->
    </nav>
</div>
