<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
  <title th:utext="${title}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/style/normalize.css}" rel="stylesheet">
  <link th:href="@{/style/index.css}" rel="stylesheet">
</head>
<body>
<div class="divLogin" layout:fragment="content">
<th:block th:include="./fragments/menuLogin"></th:block>


<h2>Admin Page</h2>
<h3>Welcome :
  <span th:utext="${#request.userPrincipal.name}"></span>
</h3>
<b>This is protected page for admins!</b>

<br/><br/>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
</div>
</body>

</html>
