<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <link th:href="@{/style/registrationPage.css}" rel="stylesheet">
    <title>Login</title>
</head>
<body>
<div class="divLogin" layout:fragment="content">
    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Login Failed!!!<br/>
        Reason :
        <a th:href="@{/registration}">Registration</a>
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

    </div>
    <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
        <div id="login-box">
            <div class="left" id="leftLogin">
                <h1 class="h1class">Log In</h1>
                <div class="divInput">
                    <p class="error-label"></p>
                    <input type="text" name='email' placeholder="E-mail"/>
                </div>
            <div class="divInput">
                <p class="error-label"></p>
                <input type="password" name="password" placeholder="Password"/>
            </div>

            <input type="submit" name="submit" value="Log in"/>
            </div>
            <div class="right">
                <span class="loginwith">Sign in with<br/>social network</span>

                <button class="social-signin facebook">Log in with facebook</button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <button class="social-signin google">Log in with Google+</button>
            </div>
            <div class="or">OR</div>
        </div>
        <br>
    </form>
    <br>
</div>
</body>

</html>
