<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"

      layout:decorate="~{fragments/base}">
<head>
    <link th:href="@{/style/registrationPage.css}" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
<div class="divLogin" layout:fragment="content">

    <form name='f' th:action="@{/saveRegistration}" th:object="${customer}" method='POST'>
        <div id="login-box">
            <div class="left">

                <h1 class="h1class">Registration</h1>
                <div class="divInput">
                    <p class="error-label" ></p>
                    <input type="text" name="username" th:field="*{name}" placeholder="Username"/>
                </div>
                <div class="divInput">
                    <p class="error-label" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        ERROR</p>
                    <input type="text" name='email' th:field="*{email}" placeholder="E-mail"/>
                </div>

                <div class="divInput">
                    <p class="error-label"></p>
                    <input type="text" name='phone' th:field="*{phone}" placeholder="Phone"/>
                </div>

                <div class="divInput">
                    <p class="error-label" th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{confirmPassword}">
                        ERROR</p>
                    <input type="password" name="password" th:field="*{encrytedPassword}" placeholder="Password"/>
                </div>

                <div class="divInput">
                    <p class="error-label"></p>
                    <input type="password" name="password2" th:field="*{confirmPassword}"
                           placeholder="Retype password"/>
                </div>


                <input type="submit" name="submit" value="Sign me up"/>
            </div>

            <div class="right">
                <span class="loginwith">Sign in with<br/>social network</span>

                <button class="social-signin facebook">Log in with facebook</button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <button class="social-signin google">Log in with Google+</button>
            </div>
            <div class="or">OR</div>
        </div>
        <br>
    </form>
</div>

</body>

</html>
